/* <link type="text/css" rel="stylesheet" href="./style.css"> */

<style>
body {
  padding: 0px;
  margin: 0px;
}

input, select, table {
  font-family: 'Inter';
  font-size: 22px;
}

table
 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
}

@media screen and (min-width: 1200px) {
  table {
  width: 1150px;}
}

@media screen and (min-width: 1250px) {
  table {
  width: 1250px;}
}

th {
  text-align: left;
  font-weight: bold;
}

td {
  text-align: left;
}



tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
